.pseudolink {
    padding: 10px;
    cursor: pointer;
    display: inline-block;
    width: 200px;
}

li.statistic-buttons {
    list-style-type: none;
    display: inline-block;
    padding: 5px;
}
/*# sourceMappingURL=main.css.map */


.main-panel.main-panel_login {
	width: 	100%;
}


.color_LEAD, .material-icon_success {
  color: #4caf50 !important;
}

.color_COM, .material-icon_warning {
  color:#ffa726 !important;
}

.color_PRO, .material-icon_danger {
    color: #f44336 !important;
}

.color_NEG, .material-icon_info {
    color: #00acc1 !important;
}
  
.color_neutral,  .material-icon_neutral {
    color: #999 !important;
}

.static-color {
    color: #9c9c9c !important;
}

.icon_normalized {
  padding:3px;
  top:  0 !important;
}

.person__name {
      line-height: 50px;
    padding: 0 20px;
}


.select2-container--default .select2-selection--single {
      border: 0;
    background-image: linear-gradient(#3a7bd5, #3a7bd5), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
    box-shadow: none;
    font-weight: 400;
    margin-top: 8px;
}

.th-actions {
  width: 10%;
}

th a {
  color: inherit;
}

.card .archive__head[data-background-color="blue"] {
      background: linear-gradient(60deg, rgba(38, 198, 218, .6), rgba(0, 172, 193, .6));
  box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);
}
.card .archive__head[data-background-color="green"]  {
   background: linear-gradient(60deg, rgba(102, 187, 106, .6), rgba(67, 160, 71, .6));
  box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
}
.card .archive__head[data-background-color="orange"] {
  background: linear-gradient(60deg, rgba(255, 167, 38, .6), rgba(251, 140, 0, .6));
  box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
}
.card .archive__head[data-background-color="red"] {
  background: linear-gradient(60deg, rgba(239, 83, 80, .6), rgba(229, 57, 53, .6));
  box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);
}

.form_no-padding .form-group {
  padding: 0;
  margin: 0;
}

.margin-xs {
      margin: 5px 0;
}
 
.btn_square-icon {
    margin: 0;
    padding: 5px !important;
}