.pseudolink {
    padding: 10px;
    cursor: pointer;
    display: inline-block;
    width: 200px;
}

li.statistic-buttons {
    list-style-type: none;
    display: inline-block;
    padding: 5px;
}
/*# sourceMappingURL=main.css.map */
